{% extends "base.html" %}

{% block body %}
{% include "board.html" %}

<script>
    function onDragStart(source, piece, position, orientation) {
        if ((orientation === 'white' && piece.search(/^w/) === -1) ||
            (orientation === 'black' && piece.search(/^b/) === -1)) {
            return false
        }
    }
    function onDrop(source, target, piece, newPos, oldPos, orientation) {

        socket.emit("send_move", {
            source: source,
            target: target,
            promotion: "q" // assume queen for now, we can maybe add that in later
        })
    }

    function highlight_square(square, color) {
        $('#chessboard .square-' + square).css('background', color)
    }
    function highlight_moves(square, moves) {
        highlight_clear();
        moves.forEach(move => {
            highlight_square(move.substr(2, 2), "#00FF00")
        });
    }

    function highlight_clear() {
        $('#chessboard .square-55d63').css('background', '')
    }

    function onMouseoverSquare(square, piece) {
        socket.emit("legal_moves", { square: square }, (data) => {
            highlight_moves(data.square, data.moves);
        })
    }

    function onMouseoutSquare(square, piece) {
        highlight_clear();
    }

    var config = {
        pieceTheme: "/static/chessboardjs/img/chesspieces/wikipedia/{piece}.png",
        onDragStart: onDragStart,
        draggable: true,
        onDrop: onDrop,
        orientation: "{{color}}",
        onMouseoutSquare: onMouseoutSquare,
        onMouseoverSquare: onMouseoverSquare,
    }
    var chessboard = Chessboard('chessboard', config);

    socket.on("player_state", (data) => {
        chessboard.orientation(data.orientation)
    })

</script>
{% endblock %}